<mat-grid-list cols="12" rowHeight="100px">
    <mat-grid-tile [rowspan]="2" colspan="12">
       <div class="toolbar" >
            <mat-toolbar style="background-color: white;">

            <span>MyFitLife</span>
            <span class="example-spacer"></span>
            <span>Preço</span>
            <span> Baixar</span>
            <span>Dúvidas</span>
            <a mat-raised-button href="login" class="btn-login">Entrar</a>

          </mat-toolbar>
        
        </div>
    </mat-grid-tile>
    
    <mat-grid-tile [rowspan]="2" colspan="6">
        <div class="title-div">
        <h1 class="title">MyFitLife: o aplicativo feito para você!</h1></div>
        <br><br>
    
    </mat-grid-tile>
    <mat-grid-tile [rowspan]="6" colspan="6">
    <div class="floating">
      <img class="image-home" src="/assets/img/imagem-home.webp" alt="image">
    </div>

    </mat-grid-tile>
    <mat-grid-tile [rowspan]="1" colspan="6">
        <p class="title-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur mauris ligula, fringilla ut tincidunt eu, pharetra nec magna. Nullam sollicitudin est eu magna auctor congue. Proin ac lacus sed dui maximus commodo. Sed nec nisl nisl. Phasellus tempor sed elit eget placerat. Nullam at est suscipit libero consequat consectetur a nec dui. Donec laoreet auctor tortor fermentum consectetur.</p>
    </mat-grid-tile>
    <mat-grid-tile [rowspan]="1" colspan="6">
      <a mat-raised-button href="register" class="btn-teste">Teste 7 dias Grátis</a>

</mat-grid-tile>
  </mat-grid-list>